@charset "gb2312";
html,body,div,table,th,td,p,ul,li,aa,dl,dt,dd{ font-family:Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; padding: 0px; margin:0px; color:#787878}
body{ text-align:center}
div{ overflow:hidden}
a{ text-decoration:none; outline:none; }
table,th,td{ border-collapse:collapse; border-spacing:0px; vertical-align:top}
ul,li{ list-style-type:none; background-repeat:no-repeat}
#container{ margin:0px auto;width:1003px; text-align:left}
a:link{ color:#787878}/*常规，非访问超链接*/
a:visited{ color:#787878}/*访问超链接*/
a:hover { color:#333333; text-decoration: none}/*访问者操作鼠标通过时的链接 */
a:active{ color:#990000; text-decoration:underline}/*点击链接*/
img{ border:none}

/*分页样式*/
#Divpage{width:290px; margin:0 auto; text-align:center; padding-left:10px; padding-top:18px;}
#Divpage li{ float:left; width:auto; padding:2px;}
#Divpage li a { color:#333; font-size:12px; }
#Divpage li a:visited { color:#333; font-size:12px; }
#Divpage li a:hover { color:#0079b8; font-size:12px; }





/*sidebar类别*/
.proLi{ width:160px; line-height:30px; border-bottom:#CCCCCC solid 1px; display:block; background:url(../images/li.jpg) no-repeat 30px 50%; padding-left:50px; margin-left:32px;}

a.nav{ width:100px; text-align:center; display:block; float:left; color:#FFFFFF; line-height:30px;}

#nav{
margin-left:20px;
}

#nav li{
line-height:35px;
font-size:14px;
font-weight:bold;
color:#fff;
display:inline;
}

#nav li a{
color:#fff;
}

#footer{
padding:30px;
}

#footer p{
line-height:30px;
text-align:center;
}
#left_lxwm{
margin-top:10px;
margin-left:30px;
}

#left_lxwm p{
line-height:25px;
}

#left_gymd{
margin:10px;
}

#left_gymd p{
line-height:25px;
}

#index_gsjs{
padding:5px;
}

#index_gsjs p{
line-height:25px;
}
#neiye_main{
margin:10px 10px;
}

#neiye_text{
line-height:25px;
}



#neiye_text .fwfw_head{
color:red;
font-weight:bold;
line-height:30px;
font-size:13px;
}

#index_news{
margin-left:5px;
width:340px;
}

#index_news li{
line-height:25px;
border-bottom:1px #bbb dotted;
background:url(../images/aa.jpg) no-repeat 10px 5px;
}

.index_fwfw{

width:330px;
height:220px;
margin:5px;
float:left;
line-height:20px;
}

.index_fwfw .fwfw_head{
color:red;
font-weight:bold;
line-height:30px;
font-size:13px;
}

